$black: #000000;
$dark-cyan: #008b8b;

.exchange-rate-container{
  .table {
    text-align: left;
  }

  .table-header {
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    padding-right: 100px;
  }

  .table-row {
    color: $dark-cyan;
  }

  .row-left {
    border-right: 2px solid $black;
  }

  .row-right {
    border-left: 2px solid $black;
    text-align: right;
  }
}
